ErrorDocument 403 https://kofradia.no
RewriteEngine On

# ip-sjekking for videresending
RewriteRule ^a$ /addip.php [L]

# sørg for korrekt adresse
RewriteCond %{HTTP_HOST} !^kofradia.no$ [NC]
RewriteCond %{HTTP_HOST} !.vpn.hsw.no$ [NC]
RewriteCond %{HTTP_HOST} !^localhost$ [NC]
RewriteRule ^(.*)$ https://kofradia.no/$1 [R,L]

# Egendefinerte adresser
RewriteRule ^p/([0-9a-zA-Z\-_\ ]+)$ /profil.php?name=$1 [QSA,L]
RewriteRule ^p/([0-9a-zA-Z\-_\ ]+)/([0-9]+)$ /profil.php?name=$1&id=$2 [QSA,L]
RewriteRule ^blog($|/)(.*)$ http://kofradia.no/blogg/$2 [R=301,L]
RewriteRule ^wiki/?$ https://kofradia.no/crewstuff/wiki/ [R,L]
RewriteRule ^wiki/(.+)$ https://kofradia.no/crewstuff/wiki/w/$1 [R,L]
RewriteRule ^trac($|/.*)$ https://kofradia.no/crewstuff/trac$1 [R,L]
RewriteRule ^felles($|/.*)$ https://kofradia.no/crewstuff/felles$1 [R,L]
RewriteRule ^soknad/([0-9]+)$ /soknader_vis.php?so_id=$1 [R,L]
RewriteRule ^autologin/([0-9a-z]+) /autologin.php?h=$1 [L]
RewriteRule ^gta($|/) /gta.php [L]
RewriteRule ^node($|/) /node.php [L]

# Crewfiles
RewriteRule ^crewstuff/f/$ /crew/crewfiles.php [L]
RewriteRule ^crewstuff/f/mappe($|/) /crew/crewfiles.php [L]
RewriteRule ^crewstuff/f/fil($|/) /crew/crewfiles.php [L]
RewriteRule ^crewstuff/f/rev($|/) /crew/crewfiles.php [L]
RewriteRule ^crewstuff/f/map($|/) /crew/crewfiles.php [L]

# Gamle adresser
RewriteRule ^faq/index.php$ /node [R=301]
RewriteRule ^faq$ /node [R=301]

RewriteRule ^index$ / [NC,R=301]
RewriteRule ^crew.php$ /crewet [NC,R=301]
RewriteRule ^logginn.php(\?.*$|$) /$1 [N,R=301]
RewriteRule ^([0-9]+)$ /registrer.php?r=$1 [nc]
RewriteRule ^x$ /scripts/extra.php [r,nc]
RewriteRule ^p\|(.+)$ /profil.php?name=$1 [r,nc]

#RewriteRule ^(.+/)?$ /$1index.php [R,NC]
RewriteRule ^(.+/)?index.php$ /$1 [R=301,NC,NE]

# Fjerne .php extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^?]*)($|\?.*$) $1.php$2

RewriteCond %{THE_REQUEST} GET\ ([^?]+)\.php(\?.*)?\ HTTP
RewriteRule ^([^?]*)\.php($|\?.*$) /$1$2 [NE,R=301,L]

# for /crew/
RewriteCond %{HTTP_HOST} ^www.streetzmafia.net$ [NC,OR]
RewriteCond %{HTTP_HOST} ^kofradia.no$ [NC]
RewriteRule /crew/wikichanges.php /crewstuff/wikichanges.php [R,L]

# Send 404 til hovedscriptet
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ route.php [L]

Options All -Indexes
DirectoryIndex index.php index.html

<FilesMatch "config.php">
	Deny from all
</FilesMatch>
